footer {
  width: 100%;
  max-width: 100%;
  background-color: #2c2c2c;
  color: #fff;
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
}

.footer__information {
  gap: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.baselogoigtech {
  width: 8rem;
  height: auto;
}

.contact__info h2,
.adress__info h2,
.social__info h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.contact__info p,
.adress__info p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.social__info a {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
}

.social__info img {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}

.social__info a:last-child {
  margin-bottom: 0;
}

/* Responsividade*/
@media (max-width: 765px) {
  .footer__information {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .baselogoigtech {
    width: 6rem;
    margin-bottom: 1.5rem;
  }

  .contact__info,
  .adress__info,
  .social__info {
    width: 100%;
    max-width: 25rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .social__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social__title {
    margin-bottom: 1rem;
  }

  .social__links {
    gap: 0.2rem;
  }

  .social__info a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  .social__info img {
    width: 2rem;
    height: auto;
  }
}