* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header__inner__content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #2c2c2c;
    padding: 1rem;
    /* position: sticky;*/
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    max-width: 150px;
    height: auto;
    color: #0084ff;
}

.logo span {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__icon__container {
    display: flex;
    align-items: center;
}

.nav__icon__container img {
    width: 30px;
    cursor: pointer;
}

.nav__icon__container img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #ccc;
}

.menu__button {
    display: none;
}

header {
    background-image: radial-gradient(#fff, #cbcbcb);
}

.header__bottom__side {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header__bottom__side__left {
    height: 100%;
    flex-basis: 50%;
}

.header__bottom__side__left h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.header__bottom__side__left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header__bottom__side__left button {
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 1.2rem 4rem;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.2s;
}

.header__bottom__side__left button:hover {
    background-color: #004c94;
}

.header__bottom__side__right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__bottom__side__right img {
    width: 60%;
}

/* media queries do header */

@media (max-width:765px) {
    .logo {
        font-size: 1.2rem;
    }

    .menu__button {
        display: block;
    }

    .header__bottom__side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show__menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }
}

/* main */

main {
    background-color: #ebebeb;
}

.gray__background {
    background-color: #2c2c2c;
}

.light_background {
    background-color: #ebebeb;
}

.page__inner__content {
    max-width: 1280px;
    margin: 0 auto;
}

.colums {
    display: grid;
    justify-content: center;
    padding: 4rem 1rem;
}

.colums__three {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.colums__three img {
    max-width: 100%;
}

.colums__four {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    max-width: 1280px;
    margin: 0 auto;
}

.colums__four img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.colums>* {
    cursor: pointer;
    transition: all 0.2s;
}

.colums>*:hover {
    transform: translateY(-5px);
}

.section__title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle__underline {
    width: 200px;
    height: 5px;
    background: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product__name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    display: flex;
    color: #e4be17;
    font-size: 1.3rem;
}

.product__nprice {
    font-size: 0.9rem;
    color: #717171;
}

.product__price {
    font-weight: bold;
    font-size: 1.5rem;
    color: #0084ff;
}

.product__payment {
    font-size: 0.9rem;
    color: #717171;
}

.exclusive__container {
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive__container img {
    max-width: 500px;
}

.header__container {
    color: #000000;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.header__container img {
    max-width: 500px;
}

/* media queries do main */

@media(max-width: 765px) {
    .section__title {
        font-size: 1rem;
    }

    .colums__three {
        grid-template-columns: repeat(1, 1fr);
    }

    .colums__four {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__name,
    .product__price,
    .rate {
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .exclusive__container {
        flex-direction: column-reverse;
    }

    .exclusive__container img {
        margin-bottom: 4rem;
    }

    .header__container {
        flex-direction: column-reverse;
    }

    .header__container img {
        margin-bottom: 4rem;
    }
}

/* avaliações */

.avaliations {
    display: flex;
    padding: 2.5rem 1rem;
    justify-content: space-evenly;
}

/*.page__inner__content h2 {
    font-size:xx-large;
    text-align: center;
    padding: 2rem;
}
    */

.avaliation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.avaliation:hover {
    transform: translateY(-5px);
}

.avaliation p {
    margin: 5px 0;
}

.avaliation p:first-child {
    font-weight: bold;
    font-size: 5rem;
    color: #e4be17;
    margin-top: 3rem;
    line-height: 2rem;
}

.avaliation p:last-child {
    font-weight: bold;
}

/* media queries das avaliações */

@media (max-width: 765px) {
    .avaliations {
        flex-direction: column;
    }

    .avaliation {
        margin-bottom: 1.2rem;
    }

}

/* footer */

.footer__content {
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;

}

.download__options>* {
    margin: 1rem 0;
}

.download__options>p:first-child {
    font-weight: bold;
    color: #fff;
}

.download__options>div {
    display: flex;
}

.download__options>div img {
    width: 180px;
}

.logo__footer {
    text-align: center;
}

.links__footer h3 {
    color: #fff;
    margin-bottom: 0.8rem;
}

.links__footer ul {
    list-style: none;
}

.links__footer ul li {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright {
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

/* media queries do footer */

@media(max-width: 765px) {
    .footer__content {
        display: inline;
        font-size: 0.8rem;
    }

    .footer__content>div {
        padding: 1rem;
    }

    .download__options>div {
        display: inline;
    }

    .download__options>div img {
        width: 120px;
    }

    .copyright {
        font-size: 0.8rem;
    }
}